@font-face {
  font-family: "Lora";
  src: url(./Lora-Regular.ttf);
  font-weight: 400;
}

:root {
  --background: #efeade;
  --brown_dark: #0d0900;
  --brown_light: #4f4224;
  --bg_gradient: linear-gradient(to bottom, #efeade 0%, #ada48d 100%);
}

body {
  font-family: "Lora", serif;
  display: flex;
  justify-content: center;
  background-color: var(--background);
  background: var(--bg_gradient);
}

h1,
h2 {
  color: var(--brown_dark);
  margin-bottom: 1rem;
  line-height: 1.3;
  letter-spacing: -1px;
}
h1 {
  font-size: 3.052rem;
}
h2 {
  font-size: 2.441rem;
}
p {
  line-height: 1.5;
  max-width: 528px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  color: var(--brown_light);
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: var(--brown_light);
}
a:hover {
  text-decoration: underline;
  color: var(--brown_dark);
  text-underline-offset: 0.25rem;
}

nav {
  height: 3rem;
  width: 100%;
  position: fixed;
  background-color: var(--background);
  box-shadow: 0px 0px 8px var(--brown_light);
}

nav ul {
  margin: auto;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}

nav a {
  text-transform: uppercase;
  letter-spacing: 2px;
}

#content {
  width: 960px;
  min-height: calc(100dvh - 3rem);
  margin-top: 3rem;
  background-color: var(--background);
  box-shadow: 0px 0px 16px -8px var(--brown_light);
}

img {
  width: 100%;
  max-height: 248px;
}

.content-main {
  margin: 2rem 4rem 0;
}
